@import '@assets/globals.scss';

.root {
  @apply sticky top-0 bg-primary z-40 transition-all duration-150;
}

.link {
  @apply inline-flex items-center text-primary leading-6 font-medium transition ease-in-out duration-75 cursor-pointer text-accents-6;
}

.link:hover {
  @apply text-accents-9;
}

.link:focus {
  @apply outline-none text-accents-8;
}

.logo {
  @apply cursor-pointer rounded-full border transform duration-100 ease-in-out;

  &:hover {
    @apply shadow-md;
    transform: scale(1.05);
  }
}

.navlink {
  @include typo-size-base;
  @include font-sans-800;

  color: $brandcolor-black-100;

  transition: 0.3s linear;

  &:hover {
    color: $brandcolor-cyan-100;
  }

  &active {
    //text-decoration: underline;
    @include font-sans-800-italic;
    color: $brandcolor-cyan-100;
  }
}

/* FFactory */

.contentsection {
  padding-top: $l-unit / 2;
  padding-bottom: $l-unit / 2;
}

.contents {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
