/* .root {
  @apply w-full relative;
  height: 320px;
  min-width: 100%;
}

.container {
  @apply flex flex-row items-center;
}

.container > * {
  @apply relative flex-1 px-16 py-4 h-full;
  min-height: 320px;
}

.primary {
  @apply bg-white;
}

.secondary {
  background-color: white;
} */

@import '@assets/globals.scss';

.hometicker {
  width: 100%;
  position: relative;
}

.hometicker__contents {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
