$brandcolor-orange-100: rgba(232, 119, 034, 1);
$brandcolor-orange-80: rgba(232, 119, 034, 0.8);
$brandcolor-orange-60: rgba(232, 119, 034, 0.6);
$brandcolor-orange-40: rgba(232, 119, 034, 0.4);

$brandcolor-cyan-100: rgba(000, 181, 226, 1);
$brandcolor-cyan-80: rgba(000, 181, 226, 0.8);
$brandcolor-cyan-60: rgba(000, 181, 226, 0.6);
$brandcolor-cyan-40: rgba(000, 181, 226, 0.4);

$brandcolor-black-100: rgba(000, 0, 0, 1);
$brandcolor-black-80: rgba(000, 0, 0, 0.8);
$brandcolor-black-60: rgba(000, 0, 0, 0.6);
$brandcolor-black-40: rgba(000, 0, 0, 0.4);
