// Usable variables
$font-sans: 'HK Grotesk', 'Helvetica Neue', 'Helvetica', sans-serif;

@mixin font-sans-100 {
  font-family: $font-sans;
  font-weight: 100;
  font-style: normal;
}

@mixin font-sans-100-italic {
  font-family: $font-sans;
  font-weight: 100;
  font-style: italic;
}

@mixin font-sans-200 {
  font-family: $font-sans;
  font-weight: 200;
  font-style: italic;
}

@mixin font-sans-200-italic {
  font-family: $font-sans;
  font-weight: 200;
  font-style: italic;
}

@mixin font-sans-300 {
  font-family: $font-sans;
  font-weight: 300;
  font-style: italic;
}

@mixin font-sans-300-italic {
  font-family: $font-sans;
  font-weight: 300;
  font-style: italic;
}

@mixin font-sans-400 {
  font-family: $font-sans;
  font-weight: 400;
  font-style: italic;
}

@mixin font-sans-400-italic {
  font-family: $font-sans;
  font-weight: 400;
  font-style: italic;
}

@mixin font-sans-500 {
  font-family: $font-sans;
  font-weight: 500;
  font-style: italic;
}

@mixin font-sans-500-italic {
  font-family: $font-sans;
  font-weight: 500;
  font-style: italic;
}

@mixin font-sans-600 {
  font-family: $font-sans;
  font-weight: 600;
  font-style: italic;
}

@mixin font-sans-600-italic {
  font-family: $font-sans;
  font-weight: 600;
  font-style: italic;
}

@mixin font-sans-700 {
  font-family: $font-sans;
  font-weight: 700;
  font-style: italic;
}

@mixin font-sans-700-italic {
  font-family: $font-sans;
  font-weight: 700;
  font-style: italic;
}

@mixin font-sans-800 {
  font-family: $font-sans;
  font-weight: 800;
  font-style: italic;
}

@mixin font-sans-800-italic {
  font-family: $font-sans;
  font-weight: 800;
  font-style: italic;
}

@mixin font-sans-900 {
  font-family: $font-sans;
  font-weight: 900;
  font-style: italic;
}

@mixin font-sans-900-italic {
  font-family: $font-sans;
  font-weight: 900;
  font-style: italic;
}
