// also update at @ui/breakpoints
$breakpoint-tablet: 700px;
$breakpoint-desktop: 950px;
$breakpoint-desktop-lg: 1500px;

@mixin query-tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin query-desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin query-desktop-lg {
  @media (min-width: $breakpoint-desktop-lg) {
    @content;
  }
}
