@import '@assets/globals.scss';

/* .titlewrapper {
  width: 100%;
  padding-top: $l-unit / 2;
  padding-bottom: $l-gutter;
  border-top: 4px solid $brandcolor-cyan-100;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
} */

.titlewrapper {
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.title {
  @include typo-size-xxxl;
  @include font-sans-800;
  //@include typo-allcapped;
}

.rule {
  border-top: 4px solid $brandcolor-cyan-100;
  width: $l-gutter *4;
  margin-top: $l-unit;
}

.link {
  color: $brandcolor-black-80;
  transition: all 0.2s linear;

  @include typo-size-base;
  @include font-sans-400;
}

.link:hover {
  color: $brandcolor-cyan-100;
}
