/* 100 - Thin */
@font-face {
  font-family: 'HK Grotesk';
  src: url('../public/fonts/HKGrotesk-Thin.woff2') format('woff2'),
    url('../public/fonts/HKGrotesk-Thin.woff') format('woff'),
    url('../public/fonts/HKGrotesk-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('../public/fonts/HKGrotesk-ThinItalic.woff2') format('woff2'),
    url('../public/fonts/HKGrotesk-ThinItalic.woff') format('woff'),
    url('../public/fonts/HKGrotesk-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: optional;
}

/* 200 - Extra Light */
@font-face {
  font-family: 'HK Grotesk';
  src: url('../public/fonts/HKGrotesk-ExtraLight.woff2') format('woff2'),
    url('../public/fonts/HKGrotesk-ExtraLight.woff') format('woff'),
    url('../public/fonts/HKGrotesk-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('../public/fonts/HKGrotesk-ExtraLightItalic.woff2') format('woff2'),
    url('../public/fonts/HKGrotesk-ExtraLightItalic.woff') format('woff'),
    url('../public/fonts/HKGrotesk-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: optional;
}

/* 300 - Light */
@font-face {
  font-family: 'HK Grotesk';
  src: url('../public/fonts/HKGrotesk-Light.woff2') format('woff2'),
    url('../public/fonts/HKGrotesk-Light.woff') format('woff'),
    url('../public/fonts/HKGrotesk-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('../public/fonts/HKGrotesk-LightItalic.woff2') format('woff2'),
    url('../public/fonts/HKGrotesk-LightItalic.woff') format('woff'),
    url('../public/fonts/HKGrotesk-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: optional;
}

/* 400 - Regular */
@font-face {
  font-family: 'HK Grotesk';
  src: url('../public/fonts/HKGrotesk-Regular.woff2') format('woff2'),
    url('../public/fonts/HKGrotesk-Regular.woff') format('woff'),
    url('../public/fonts/HKGrotesk-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('../public/fonts/HKGrotesk-Italic.woff2') format('woff2'),
    url('../public/fonts/HKGrotesk-Italic.woff') format('woff'),
    url('../public/fonts/HKGrotesk-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: optional;
}

/* 500 - Medium */
@font-face {
  font-family: 'HK Grotesk';
  src: url('../public/fonts/HKGrotesk-Medium.woff2') format('woff2'),
    url('../public/fonts/HKGrotesk-Medium.woff') format('woff'),
    url('../public/fonts/HKGrotesk-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('../public/fonts/HKGrotesk-MediumItalic.woff2') format('woff2'),
    url('../public/fonts/HKGrotesk-MediumItalic.woff') format('woff'),
    url('../public/fonts/HKGrotesk-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: optional;
}

/* 600 - SemiBold */
@font-face {
  font-family: 'HK Grotesk';
  src: url('../public/fonts/HKGrotesk-SemiBold.woff2') format('woff2'),
    url('../public/fonts/HKGrotesk-SemiBold.woff') format('woff'),
    url('../public/fonts/HKGrotesk-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('../public/fonts/HKGrotesk-SemiBoldItalic.woff2') format('woff2'),
    url('../public/fonts/HKGrotesk-SemiBoldItalic.woff') format('woff'),
    url('../public/fonts/HKGrotesk-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: optional;
}

/* 700 - Bold */
@font-face {
  font-family: 'HK Grotesk';
  src: url('../public/fonts/HKGrotesk-Bold.woff2') format('woff2'),
    url('../public/fonts/HKGrotesk-Bold.woff') format('woff'),
    url('../public/fonts/HKGrotesk-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('../public/fonts/HKGrotesk-BoldItalic.woff2') format('woff2'),
    url('../public/fonts/HKGrotesk-BoldItalic.woff') format('woff'),
    url('../public/fonts/HKGrotesk-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: optional;
}

/* 800 - Extra Bold */
@font-face {
  font-family: 'HK Grotesk';
  src: url('../public/fonts/HKGrotesk-ExtraBold.woff2') format('woff2'),
    url('../public/fonts/HKGrotesk-ExtraBold.woff') format('woff'),
    url('../public/fonts/HKGrotesk-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('../public/fonts/HKGrotesk-ExtraBoldItalic.woff2') format('woff2'),
    url('../public/fonts/HKGrotesk-ExtraBoldItalic.woff') format('woff'),
    url('../public/fonts/HKGrotesk-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: optional;
}

/* 900 - Black */
@font-face {
  font-family: 'HK Grotesk';
  src: url('../public/fonts/HKGrotesk-Black.woff2') format('woff2'),
    url('../public/fonts/HKGrotesk-Black.woff') format('woff'),
    url('../public/fonts/HKGrotesk-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('../public/fonts/HKGrotesk-BlackItalic.woff2') format('woff2'),
    url('../public/fonts/HKGrotesk-BlackItalic.woff') format('woff'),
    url('../public/fonts/HKGrotesk-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: optional;
}

:root {
  --primary: #ffffff;
  --primary-2: #f1f3f5;
  --secondary: #000000;
  --secondary-2: #111;
  --selection: var(--cyan);

  --text-base: #000000;
  --text-primary: #000000;
  --text-secondary: white;

  --hover: rgba(0, 0, 0, 0.075);
  --hover-1: rgba(0, 0, 0, 0.15);
  --hover-2: rgba(0, 0, 0, 0.25);
  --cyan: #22b8cf;
  --green: #37b679;
  --red: #da3c3c;
  --pink: #e64980;
  --purple: #f81ce5;
  --blue: #0070f3;
  --violet: #5f3dc4;
  --violet-light: #7048e8;
  --accents-0: #f8f9fa;
  --accents-1: #f1f3f5;
  --accents-2: #e9ecef;
  --accents-3: #dee2e6;
  --accents-4: #ced4da;
  --accents-5: #adb5bd;
  --accents-6: #868e96;
  --accents-7: #495057;
  --accents-8: #343a40;
  --accents-9: #212529;
  --font-sans: 'HK Grotesk', 'Helvetica Neue', 'Helvetica', sans-serif;
}

[data-theme='dark'] {
  --primary: #000000;
  --primary-2: #111;
  --secondary: #ffffff;
  --secondary-2: #f1f3f5;
  --hover: rgba(255, 255, 255, 0.075);
  --hover-1: rgba(255, 255, 255, 0.15);
  --hover-2: rgba(255, 255, 255, 0.25);
  --selection: var(--purple);

  --text-base: white;
  --text-primary: white;
  --text-secondary: black;

  --accents-0: #212529;
  --accents-1: #343a40;
  --accents-2: #495057;
  --accents-3: #868e96;
  --accents-4: #adb5bd;
  --accents-5: #ced4da;
  --accents-6: #dee2e6;
  --accents-7: #e9ecef;
  --accents-8: #f1f3f5;
  --accents-9: #f8f9fa;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--text-primary);
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
