@import '@assets/globals.scss';

.contentsection {
  width: 100%;
  padding: $l-gutter;
  max-width: $l-max-width;
  margin: 0 auto;
}

.nopadvertical {
  @extend .contentsection;
  padding: 0 $l-gutter;
}
